@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Taro";
    src: url("../fonts/taro.otf");
}
@font-face {
    font-family: "Aileron";
    src: url("../fonts/aileron.otf");
}
