@import url("./fonts.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.main {
    position: absolute;
    top: 5%;
    left: 2.5%;
    column-count: 2;
    width: 95%;
    height: 90%;
    padding: 1px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
    /* border-radius: 25px; */
    /* border: 1px solid; */
}

.login-image-side {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
}

.login-image-side img {
    width: 100%;
    height: 100%;
    /* border-top-left-radius: 25px;
    border-bottom-left-radius: 25px; */
}

.login-form-side {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    padding: 1rem;
}

.login-form-side h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color: black;
    margin: 0;
}

.login-form-side p {
    font-size: 1.25rem;
    font-family: aileron-light;
}

form {
    text-align: center;
}

form label {
    font-family: aileron-light;
    color: black;
    justify-content: center;
    text-align: left;
    align-items: center;
}

form .text-input {
    border-radius: 0.25rem;
    width: 85%;
    font-family: aileron-light;
    border-width: 0;
    font-size: 100%;
    padding: 1rem;
    background-color: #eee;
	border: none;
}

h3 {
    text-align: center;

}
form .text-input::placeholder {
    color: grey;
    opacity: 60%;
}

form .submit-button {
    text-align: center;
    background-color: rgb(201, 71, 56);
    color: white;
    border-radius: 2rem;
    cursor: pointer;
    padding: 1rem;
    width: 50%;
    border-width: 0;
}

.links {
    text-align: center;
}

.links a {
    font-size: 1.25rem;
    text-decoration: none;
    color: #333;
}